

<div class="bottom jumbotron">
  <div class="container">
  <div style = "font-size:20px; font-weight:700;">&#9400; Pclub|UIET 2018<div style = "float: right">Designed and Created By <span style = "color:rgb(146,235,165)">Gurpreet Singh</span></div></div>

  <a  target="_blank" href="https://www.facebook.com/pclubuiet/" class="btn btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
  <a target = "_blank" href="https://tinyurl.com/pclubslack" class="btn btn-floating btn-small btn-slack"><i class="fa fa-slack"> </i></a>
  <a target = "_blank" href="mailto:pclubuiet@gmail.com" class="btn btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
  </div>
</div>
    </body>
</html>
