<% include partials/header %>

<div class="about container">
  <div class="text-center">
      <img src="images/icons/icon.jpg" alt="UIET">
      <br>
      <p>WELCOME!!!!!</p>
      <p><span id = "pc">To World of Programming Club Uiet</span>
, a place to explore, a place to learn, a place to develop, a place to express your idea. A programming club which is a community run and operates by students of University Institue of Engineering and Technology, the students who only aims to learn something and teach others what they had learned. We focus only on sharing knowledge. Here everyone is allowed, even you don't have to pay a penny for learning anything because here students are teachers and at the same time the teacher is also a student who also learns something from discussions from questions.
We generally divide our topics into separate days, as we conduct our workshop as weekends so we can say we divide our work in weeks. We set a target, a topic to learn in given set of time. And the best part of our club is that it is beneficial same for even beginner and even expert. We take all the students together, Just focusing from basic to advance. We try to cover the current and most important and developing topics like artificial intelligence, machine learning, etc. We want everyone to introduce to technology.
We don't want students to waste a lot of money and time to learn the same things which he/she can easily learn from his/her senior, friends and even sometimes from juniors. We want students to push their boundaries, learn something other their course because we strongly believe that learning these days helps a lot you to earning those days. There is no need of some special requirements, just take out some time from the schedule, pick up your laptop, and just come, we will guide you from beginner to professional because we all know that Mark Zuckerberg, Lary Page, Steve Jobs, etc. all were initially beginners.

So Come on Guys This is a time for you, No matter which semester are you in just come with us, join us, either learn something or teach us something, you are all welcome.</p>
  </div>



</div>





<% include partials/footer %>
