<% include partials/header %>
<div class="text-center container">
  <div class="back jumbotron">
    <h1>Programming Club</h1>
    <h4>UIET, Panjab University</h4>
    <br>
    <div class = "text-center">
      <img src="/images/icons/icon.jpg" alt="pclub">
    </div>
      </div>
      <br>
</div>
<% include partials/footer %>
