<% include partials/header %>

<div class="container">
  <header class="back jumbotron">
    <div class="container">
    <h1><strong style="letter-spacing: 0.3em">Resources</strong></h1>
    <p>We Share Knowledge</p>
  </div>
  </header>
    <div class ="row" style="display:flex; flex-wrap:wrap;">
  <% resources.forEach(function(resource){ %>
<div class = "col-md-3 col-sm-6">
  <div class="thumbnail">
      <% if(resource.type == 'playlist'){%>
        <a target = "_blank" href="<%=resource.url%>"><img class = "resourceIcons" src="images/icons/play.png" alt="playlist"></a>
        <%}else if(resource.type == 'docs'){%>
        <a target = "_blank" href="<%=resource.url%>"><img class = "resourceIcons" src="images/icons/docs.png" alt="page"></a>
          <%}else{%>
        <a target = "_blank" href="<%=resource.url%>"><img class = "resourceIcons" src="images/icons/page.png" alt="docs"></a>
            <%}%>
            <div class="caption text-center" style="color: #00BC8C; padding: 1px; border-top: 1px solid #333333;">
              <h4><strong><%=resource.name%></strong></h4>
            </div>
      </div>
    </div>
  <% }) %>
</div>
<div>
  <a href="resources/new"><button type="button" class="btn btn-primary btn-lg btn-block">Add New Resource</button></a>
</div>
</div>





<% include partials/footer %>
